body{
  background-color: #f7f7f7 !important;
}
/* NavBar */
.navbar-nav a{
  font-size: 18px;
}
html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}
