.product-card-img {
  transition: transform 0.3s ease;
}

.product-card-img:hover {
  transform: scale(1.1); /* zoom in */
}

.carousel-caption {
  bottom: 20%;
  text-align: left;
}

.carousel-caption h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.carousel-image{
  height: 90vh;
}